# Introduction to scikit-learn(sklearn)

This notebook shows some of the useful functions in scikit learn library

What we're going to cover:

0. An end-to-end scikit-learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/estimator/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Train and load a trained model
7. Putting it all together

In [42]:
# Standard Imports
import numpy as np
import pandas as np
import matplotlib.pyplot as plt
%matplotlib inline

# 0. An end-to-end Scikit-learn workflow

In [15]:
# Getting our data ready
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [16]:
# Create X (features)
X = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [17]:
# Choose the right model & hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll use the default hyperparameters
clf.get_params() # check the hyperparameter

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [18]:
# Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [19]:
clf.fit(X_train, y_train);

In [20]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2

In [21]:
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1], dtype=int64)

In [22]:
y_test

214    0
72     1
256    0
54     1
52     1
      ..
212    0
143    1
175    0
48     1
17     1
Name: target, Length: 61, dtype: int64

In [23]:
# Evaluate the model on the training data & test data
clf.score(X_train, y_train)

1.0

In [24]:
clf.score(X_test, y_test)

0.8524590163934426

In [25]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.91      0.75      0.82        28
           1       0.82      0.94      0.87        33

    accuracy                           0.85        61
   macro avg       0.86      0.84      0.85        61
weighted avg       0.86      0.85      0.85        61

In [26]:
confusion_matrix(y_test, y_preds)

array([[21,  7],
       [ 2, 31]], dtype=int64)

In [27]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [34]:
# 5. Improve a model
# Try a different amount of hyperparameters
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, y_train)
    print(f"Model accuracy on test data {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test data 88.52%

Trying model with 20 estimators...
Model accuracy on test data 83.61%

Trying model with 30 estimators...
Model accuracy on test data 85.25%

Trying model with 40 estimators...
Model accuracy on test data 86.89%

Trying model with 50 estimators...
Model accuracy on test data 85.25%

Trying model with 60 estimators...
Model accuracy on test data 88.52%

Trying model with 70 estimators...
Model accuracy on test data 86.89%

Trying model with 80 estimators...
Model accuracy on test data 85.25%

Trying model with 90 estimators...
Model accuracy on test data 85.25%

In [40]:
# 6. Save a model & load it
import pickle

pickle.dump(clf, open("models/random_forest_model_1.pkl", "wb"))

In [41]:
loaded_model = pickle.load(open("models/random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8524590163934426

## 1. Getting our data ready to be used by the machine learning model

Three main things we have to do:

    1. Split the data into features and labels (usually `X` & `y`)
    2. Filling (also called imputing) or desregarding missing values
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [43]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [45]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [46]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [48]:
X_train.shape, X_test.shape

((242, 13), (61, 13))

In [49]:
y_test.shape, y_train.shape

((61,), (242,))